.general-info
	display block

	&__label
		margin-bottom 23px
		display flex
		align-items flex-end
		font-size 22px
		font-weight 700

	&__input
		flex 1
		margin-top -3px
		margin-left 20px
		padding 0 13px 4px
		font-family 'Courier New'
		font-size 30px
		font-weight 400
		background-color transparent
		border none
		border-bottom 6px solid transparent
		border-image url('/images/border.png') 0 0 6 0 / 0 0 6px 0 repeat
