include ../container/container
include ../heading/heading
include ../general-info/general-info
include ../skills/skills
include ../js-level/js-level
include ../about/about
include ../future/future
include ../date/date

mixin index()
	-var data = getData('form')
	+b('form').index&attributes(attributes)
		+container
			+general-info(data.general)
		+container
			+heading
				| Расскажите о себе чекбоксами
			+skills(data.skills)
		+container
			+heading
				| Уровень владения JavaScript
			+js-level(data.jsLevel)
		+container
			+heading
				| Расскажите о себе словами
			+about(data.about)
		+container
			+heading
				| Какие у вас планы на будущее?
			+future(data.future)
		+container
			+date(data.date)
