.header
	margin-bottom 57px
	display block

	&__logo
		sprite($logo)
		margin-top 13px

	&__secret
		sprite($secret)
		position absolute
		top 49px
		right 54px

	&__delo
		sprite($delo)
		margin-top 40px
		margin-left 33%
