.future
	display block

	&__list
		margin-top 20px

	&__item
		margin-right 25px
		display inline-block
		font-size 20px
		font-weight 700

	&__input[type=radio]
		display none

	&__input[type=radio] + &__label
		position relative
		margin-left 32px
		line-height 28px
		&::before
			sprite($radio)
			position absolute
			left -32px
			display inline-block
			content ''

	&__input[type=radio]:checked + &__label
		&::before
			sprite($radio_checked)
