.skills
	display block

	&__text
		margin-bottom 20px
		line-height 1.53
		color $dark-gray

	&__list
		font-size 21px
		font-weight 700
		line-height 1.67
		columns 3

	&__label span
		position relative
		top 1px

	&__input[type=checkbox]
		display none

	&__input[type=checkbox] + &__label
		position relative
		margin-left 28px
		display block
		&::before
			sprite($unchecked)
			position absolute
			left -28px
			margin-right 6px
			display inline-block
			content ''

	&__input[type=checkbox]:checked + &__label
		&::before
			sprite($checked)
