.js-level
	position relative
	display block
	&__scale
		sprite($js_level)
		margin-top 43px
		padding-top 30px
		cursor pointer

	&__list
		font-size 13px
		font-weight 700

	&__item
		display inline-block
		vertical-align top

	&__item_item1
		margin-right 80px
	&__item_item2
		margin-right 57px
	&__item_item3
		margin-right 86px
		width 22%

	&__marker
		sprite($js_level_marker)
		position absolute
		top -17px
		left 369px
