mixin js-level(level)
	+b.js-level&attributes(attributes)
		+e.scale
			+e('ul').list
				+e('li').item_item1 Не владею
				+e('li').item_item2 Использую готовые решения
				+e('li').item_item3 Использую готовые решения
					| и умею их переделывать
				+e('li').item_item4 Пишу сложный JS с нуля
		+e.marker(data-level='#{level}')
